:root{
  --extra-large-font: clamp(60px, 1.5vw + 1rem, 80px);
  --button-font: clamp(12px, 1vw + 1rem, 14px);
  --large-font: clamp(20px, 1.5vw + 1rem, 35px);
  --medium-font: clamp(10px, 0.5vw + 1rem, 13px);
  --small-font: clamp(8px, 0.5vw + 1rem, 11px);

  --primary-color: #1db954;
  --secondary-color: #212121;
  --tertiary-color: #121212;

  --dark-bg: rgb(17, 17, 17);
  --light-bg: #dfdfdf;
  --dark-ligth: rgba(104, 104, 104, 0.75);
}
body, html{
  font-family: "Poppins", sans-serif;
  overflow: auto;
  background-color: var(--secondary-color);
}
